.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color:#19001E;
  min-height: 100vh
}

.heading {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 3px solid #0070f3;
  padding-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 80%;
  transition: transform 0.2s ease;
  border: 5px solid #483D8B;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  border-left: 5px solid #0056b3;
}

.title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.author {
  color: #555;
  font-style: italic;
  margin-top: 1rem;
}


.searchForm {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  width: 60%;
  background-color:#19001E;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.searchInput {
  flex-grow: 1; 
  padding: 0.5rem 1rem;
  margin-right: 1rem; 
  background-color:#19001E;
  border: 3px solid #483D8B;
  border-radius: 10px;
  transition: border 0.2s ease;
  font-size: 1rem;
}

.searchInput:focus {
  border-color: #0070f3;
  outline: none;
}

.searchButton {
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0070f3;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}