@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 

input ,textarea{
  border: 2px solid black;
  margin: 3px;
  border-radius: 10px;
  padding: 3px;
}

.create button {
  display:flex;
  background-color: lightblue;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
}